@using PagosMoviles.PortalWeb.Helpers
@{
    var menu = MenuHelper.ObtenerMenuAdmin(Context.Session);
}

<aside class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-brand">
            <img src="~/Imagenes/logofin.png" alt="Logo" class="sidebar-logo" />
            <span class="system-name">Pagos Móviles</span>
        </div>
    </div>

    <nav class="sidebar-menu">
        @foreach (var item in menu)
        {
            <a href="@item.Url" class="menu-item">@item.Texto</a>
        }
    </nav>
</aside>