@using PagosMoviles.AdminWeb.Helpers
@{
    var menu = MenuHelper.ObtenerMenuAdmin(Context.Session);
}

<aside class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-brand">
            <img src="~/Imagenes/logoadmin.png" alt="Logo" class="sidebar-logo" />
            <span class="system-name">Pagos Móviles</span>
        </div>
    </div>
</aside>